[Unit]
Description=DigitalOcean DDNS Update Server
Requires=network.target
After=network.target

[Service]
Type=simple
User=do-ddns
Group=do-ddns
WorkingDirectory=/etc/do-ddns
ExecStart=/usr/local/bin/do-ddns-server
ExecReload=/bin/kill -USR2 $MAINPID
Restart=always
RestartSec=3
# By default, environment is read from /etc/do-ddns/.env; or you can set
# variables via Environment= here.

[Install]
WantedBy=multi-user.target
