{
  "domains": [
    {
      "domain": "home.example.org",
      "secret": "s3cr3t",
      "createMissingRecords": true
    },
    {
      "domain": "office.example.com",
      "secret": "p@ssw0rd",
      "allowClientIPChoice": true
    }
  ]
}